<ion-header class="d-none d-sm-flex justify-content-between " mode="md">
  <ion-toolbar class="p-md-1 py-3 " (click)="scrollTo('intro')">
    
      <ion-title class="mt-md-3"><strong>Germán Urgorri Urgoiti</strong></ion-title>
      <h6 class="ms-4">Frontend Developer</h6>
    
  </ion-toolbar>
  <div id="headerMenu" class="d-flex w-100 h-100 ">
    <ion-button class="headerMenuButton w-100 h-100" (click)="scrollTo('Portfolio')" expand="full" fill="clear">
      <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">

        <ion-icon size="large" class="me-lg-2" name="folder"></ion-icon>
        <p class="my-auto fs-lg-1">Portfolio</p>
      </div>
    </ion-button>
    <ion-button class="headerMenuButton w-100 h-100" (click)="scrollTo('Skillset')" expand="full" fill="clear">
      <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">

        <ion-icon size="large" class="me-lg-2" name="code-slash"></ion-icon>
        <p class="my-auto fs-lg-1">Skillset</p>
      </div>
    </ion-button>
    <ion-button class="headerMenuButton w-100 h-100" (click)="scrollTo('Experience')" expand="full" fill="clear">
      <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">

        <ion-icon size="large" class="me-lg-2" name="briefcase-outline"></ion-icon>
        <p class="my-auto fs-lg-1">Experience</p>
      </div>
    </ion-button>
    <ion-button class="headerMenuButton w-100 h-100" (click)="scrollTo('Contact')" expand="full" fill="clear">
      <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">

        <ion-icon size="large" class="me-lg-2" name="person"></ion-icon>
        <p class="my-auto fs-lg-1">Contact</p>
      </div>
    </ion-button>
  </div>

</ion-header>

<!--header  class="d-sm-none"-->
<!--footer class="ion-no-border d-none d-sm-block"-->
<ion-content [fullscreen]="true">

  <section id="intro" class="d-flex justify-content-center p-5">
    <div class="d-flex flex-column-reverse  flex-md-row rounded">

      <div id="profileContainer"
        class="d-flex justify-content-center align-items-center w-auto py-3 px-4 px-lg-5  rounded-bottom  ">
        <img src="../../../assets/images/profile.jpg" class="rounded-circle border border-light border-4" id="profile"
          alt="">
      </div>

      <div id="name" class="w-100 py-3 px-3 ps-md-1  px-lg-5 rounded-top">
        <div
          class="h-100 m-auto rounded-2 p-4 whiteFont text-center d-flex flex-column align-items-center justify-content-center"
          color="dark" id="profileName">
          <h1 class="">Germán Urgorri Urgoiti</h1>
          <hr class="w-100">
          <h4 class="spacing">Frontend Developer</h4>
        </div>
      </div>
    </div>

  </section>
  <div class="sea bg-info"></div>
  <div class="sand bg-warning"></div>


  <section class="py-5" id="Portfolio">
    <h1 class="spacing text-uppercase text-center">Portfolio</h1>
    <hr>

    <ion-grid class="">
      <ion-row class="ion-align-items-center ion-justify-content-center">

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6">
          <ion-card class=" works">
            <ion-img src="../../../assets/images/angular.png" alt=" place.describe "></ion-img>
            <ion-card-header>

              <ion-card-title> place.name </ion-card-title>
            </ion-card-header>
            <ion-card-content>


              <p> place.describe </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6">
          <ion-card class=" works">
            <ion-img src="../../../assets/images/angular.png" alt=" place.describe "></ion-img>
            <ion-card-header>

              <ion-card-title> place.name </ion-card-title>
            </ion-card-header>
            <ion-card-content>


              <p> place.describe </p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6">
          <ion-card class=" works">
            <ion-img src="../../../assets/images/angular.png" alt=" place.describe "></ion-img>
            <ion-card-header>

              <ion-card-title> place.name </ion-card-title>
            </ion-card-header>
            <ion-card-content>


              <p> place.describe </p>
            </ion-card-content>
          </ion-card>


        </ion-col>
      </ion-row>
    </ion-grid>


    <!--
  añadir:

  Proyecto Kitt
  tienda UD Las Palmas
  trabajo angular


  
-->

  </section>


  <section class="  py-5 bg-info whiteFont" id="Skillset">
    <h1 class=" spacing text-uppercase text-center">Skillset</h1>
    <hr>

    <ion-grid>
      <ion-row class="flex-row ion-align-items-end ion-justify-content-center">
        <ion-col size="4" size-lg="2" *ngFor="let item of skillset" >
          <ion-card class="skillsetCard mx-auto h-100 d-flex flex-column justify-content-between">
            <div class="skillsetImage h-100 d-flex justify-content-center align-items-center">
                <img src="../../../assets/icon/{{item.id}}.svg"  id="" alt="">
            </div>
            <hr>
            <ion-card-title>
                <p class="text-center text-nowrap">{{ item.title }}</p>
            </ion-card-title>
        </ion-card>
        </ion-col>
      </ion-row>
      
      
    </ion-grid>

    <div class="">


    </div>
  </section>


  <section class=" py-5" id="Experience">
    <h1 class=" spacing text-uppercase text-center">Experience</h1>
    <hr>
    <div class="d-flex justify-content-center">
      <ion-card class="experience">
        <ion-card-header>
          <div class="d-flex align-items-center ">
            <ion-thumbnail class="h-100 me-3 expImage">
              <img class="h-100 " alt="Silhouette of a person's head"
                src="../../../assets/images/company-images/TWD.jpg" />
            </ion-thumbnail>
            <div>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </div>
          </div>


        </ion-card-header>

        <ion-card-content>

          <ul>

            <li>Desarrollo de aplicación web en Ionic Angular</li>
            <li>Encargado principal en el desarrollo frontend con Typescript y en diseño con bootstrap y CSS</li>

          </ul>
        </ion-card-content>
      </ion-card>
    </div>
  </section>

  <section class="py-5 bg-info " id="Contact">
    <div class="whiteFont">
      <h1 class=" spacing text-uppercase text-center">Contact</h1>
      <hr>
    </div>
    <div>
      <form class=" bg-light m-auto p-4" [formGroup]="contactForm" mode="md">

        <ion-input label="Your email" label-placement="floating" fill="outline" [(ngModel)]="email" id="email"
          formControlName="email" placeholder="Ingrese su correo" type="email"></ion-input>

        <br>

        <ion-textarea label="Outline textarea" labelPlacement="floating" fill="outline" placeholder="Enter text"
          [(ngModel)]="message" formControlName="message" id="message" [autoGrow]="true" [counter]="true"
          [maxlength]="1000">
        </ion-textarea>

        <br>

        <input type="submit" class="btn btn-info btn-lg w-100" value="Enviar">

      </form>
    </div>
  </section>


  
    <footer class="bg-dark p-5 text-center  whiteFont">
      <p class="my-auto">Developed and designed by Germán Urgorri Urgoiti. ©2023. All rights reserved.</p>
    </footer>
 

  <div class="tabs d-sm-none">
   
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button (click)="scrollTo('Portfolio')">
          <ion-icon name="folder"></ion-icon>
          <ion-label>Portfolio</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="scrollTo('Portfolio')">
          <ion-icon name="code-slash"></ion-icon>
          <ion-label>Skillset</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="scrollTo('Experience')">
          <ion-icon name="briefcase-outline"></ion-icon>
          <ion-label>Experience</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="scrollTo('Contact')">
          <ion-icon name="person"></ion-icon>
          <ion-label>Contact</ion-label>
        </ion-tab-button>
  
      </ion-tab-bar>
    </ion-tabs>
  </div>

</ion-content>